# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db


# Sample resumes
resumes/

#interview data
interviews.jsonanswer.wav
answer.wav

# Candidate interview recordings
*.mp4
*.webm
