# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db


# Sample resumes
resumes/